type file
authors Lars von Thienen
id Noggle.TikaOnDotnet
description
  IKVM Java to .NET port of Apache Tika. Noggle.TikaOnDotNet.Text contains wrapper and helper functions to parse rich text documents. (Info: This is an extended version of the TikaOnDotNet port done by KevM.) 
files
  ..\..\lib\Noggle.TikaOnDotnet.dll ==> lib
dependencies
  IKVM >= 8.1.5717
projectUrl
  https://github.com/whentotrade/Noggle.TikaOnDotNet
