type file
authors Lars von Thienen
id Noggle.TikaOnDotnet.Text
description
  Wrapper and helper functions for running Apache Tika on .NET through Noggle.TikaOnDotNet. 
files
    bin\Release\Noggle.TikaOnDotNet.* ==> lib
dependencies
    Noggle.TikaOnDotnet CURRENTVERSION
projectUrl
  https://github.com/whentotrade/Noggle.TikaOnDotNet
